DynamicsNAV365-Staff-WebPortal/DynamicsNAV365-Staff-WebPortal/Web References/FundsManagementWebServiceReference/FundsManagementWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="urn:microsoft-dynamics-schemas/codeunit/FundsManagementWebService" targetNamespace="urn:microsoft-dynamics-schemas/codeunit/FundsManagementWebService" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-schemas/codeunit/FundsManagementWebService" xmlns="http://www.w3.org/2001/XMLSchema">
      <element name="CheckPettyCashExists">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="imprestNoa46" type="string" />
            <element minOccurs="1" maxOccurs="1" name="employeeNoa46" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="CheckPettyCashExists_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="boolean" />
          </sequence>
        </complexType>
      </element>
      <element name="CheckOpenPettyCashExists">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="employeeNoa46" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="CheckOpenPettyCashExists_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="boolean" />
          </sequence>
        </complexType>
      </element>
      <element name="CreatePettyCashHeader">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="employee_Noa46" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="CreatePettyCashHeader_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="ModifyPettyCashHeader">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="imprestNoa46" type="string" />
            <element minOccurs="1" maxOccurs="1" name="employee_Noa46" type="string" />
            <element minOccurs="1" maxOccurs="1" name="description" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="ModifyPettyCashHeader_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="boolean" />
          </sequence>
        </complexType>
      </element>
      <element name="CreatePettyCashLine">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="imprestNoa46" type="string" />
            <element minOccurs="1" maxOccurs="1" name="imprestCode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="description" type="string" />
            <element minOccurs="1" maxOccurs="1" name="amount" type="decimal" />
            <element minOccurs="1" maxOccurs="1" name="fromCity" type="string" />
            <element minOccurs="1" maxOccurs="1" name="toCity" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="CreatePettyCashLine_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="boolean" />
          </sequence>
        </complexType>
      </element>
      <element name="ModifyPettyCashLine">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="lineNoa46" type="int" />
            <element minOccurs="1" maxOccurs="1" name="imprestNoa46" type="string" />
            <element minOccurs="1" maxOccurs="1" name="imprestCode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="description" type="string" />
            <element minOccurs="1" maxOccurs="1" name="amount" type="decimal" />
            <element minOccurs="1" maxOccurs="1" name="fromCity" type="string" />
            <element minOccurs="1" maxOccurs="1" name="toCity" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="ModifyPettyCashLine_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="boolean" />
          </sequence>
        </complexType>
      </element>
      <element name="DeletPettyCashLine">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="lineNoa46" type="int" />
            <element minOccurs="1" maxOccurs="1" name="imprestNoa46" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="DeletPettyCashLine_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="boolean" />
          </sequence>
        </complexType>
      </element>
      <element name="CheckPettyCashLinesExist">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="imprestNoa46" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="CheckPettyCashLinesExist_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="boolean" />
          </sequence>
        </complexType>
      </element>
      <element name="ChecPettyCashApprovalWorkflowEnabled">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="imprestNoa46" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="ChecPettyCashApprovalWorkflowEnabled_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="boolean" />
          </sequence>
        </complexType>
      </element>
      <element name="SendPettyCashApprovalRequest">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="imprestNoa46" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="SendPettyCashApprovalRequest_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="boolean" />
          </sequence>
        </complexType>
      </element>
      <element name="CancelPettyCashApprovalRequest">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="imprestNoa46" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="CancelPettyCashApprovalRequest_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="boolean" />
          </sequence>
        </complexType>
      </element>
      <element name="GetLocalCurrencyCode">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="GetLocalCurrencyCode_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="CheckImprestRequestExists">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="imprestNoa46" type="string" />
            <element minOccurs="1" maxOccurs="1" name="employeeNoa46" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="CheckImprestRequestExists_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="boolean" />
          </sequence>
        </complexType>
      </element>
      <element name="CheckOpenImprestRequestExists">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="employeeNoa46" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="CheckOpenImprestRequestExists_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="boolean" />
          </sequence>
        </complexType>
      </element>
      <element name="CheckImprestNotSurrendered">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="employeeNoa46" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="CheckImprestNotSurrendered_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="boolean" />
          </sequence>
        </complexType>
      </element>
      <element name="CheckImprestPartiallySurrendered">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="employeeNoa46" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="CheckImprestPartiallySurrendered_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="boolean" />
          </sequence>
        </complexType>
      </element>
      <element name="CreateImprestHeader">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="employee_Noa46" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="CreateImprestHeader_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="ModifyImprestHeader">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="imprestNoa46" type="string" />
            <element minOccurs="1" maxOccurs="1" name="employee_Noa46" type="string" />
            <element minOccurs="1" maxOccurs="1" name="imprestType" type="int" />
            <element minOccurs="1" maxOccurs="1" name="dateFrom" type="date" />
            <element minOccurs="1" maxOccurs="1" name="dateTo" type="date" />
            <element minOccurs="1" maxOccurs="1" name="description" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="ModifyImprestHeader_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="boolean" />
          </sequence>
        </complexType>
      </element>
      <element name="GetImprestAmount">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="imprestNoa46" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GetImprestAmount_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="decimal" />
          </sequence>
        </complexType>
      </element>
      <element name="GetImprestStatus">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="imprestNoa46" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GetImprestStatus_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="CreateImprestLine">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="imprestNoa46" type="string" />
            <element minOccurs="1" maxOccurs="1" name="imprestCode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="description" type="string" />
            <element minOccurs="1" maxOccurs="1" name="amount" type="decimal" />
            <element minOccurs="1" maxOccurs="1" name="fromCity" type="string" />
            <element minOccurs="1" maxOccurs="1" name="toCity" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="CreateImprestLine_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="boolean" />
          </sequence>
        </complexType>
      </element>
      <element name="ModifyImprestLine">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="lineNoa46" type="int" />
            <element minOccurs="1" maxOccurs="1" name="imprestNoa46" type="string" />
            <element minOccurs="1" maxOccurs="1" name="imprestCode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="description" type="string" />
            <element minOccurs="1" maxOccurs="1" name="amount" type="decimal" />
            <element minOccurs="1" maxOccurs="1" name="fromCity" type="string" />
            <element minOccurs="1" maxOccurs="1" name="toCity" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="ModifyImprestLine_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="boolean" />
          </sequence>
        </complexType>
      </element>
      <element name="DeleteImprestLine">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="lineNoa46" type="int" />
            <element minOccurs="1" maxOccurs="1" name="imprestNoa46" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="DeleteImprestLine_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="boolean" />
          </sequence>
        </complexType>
      </element>
      <element name="CheckImprestLinesExist">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="imprestNoa46" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="CheckImprestLinesExist_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="boolean" />
          </sequence>
        </complexType>
      </element>
      <element name="ValidateImprestLines">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="imprestNoa46" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="ValidateImprestLines_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="CheckImprestApprovalWorkflowEnabled">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="imprestNoa46" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="CheckImprestApprovalWorkflowEnabled_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="boolean" />
          </sequence>
        </complexType>
      </element>
      <element name="SendImprestApprovalRequest">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="imprestNoa46" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="SendImprestApprovalRequest_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="boolean" />
          </sequence>
        </complexType>
      </element>
      <element name="CancelImprestApprovalRequest">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="imprestNoa46" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="CancelImprestApprovalRequest_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="boolean" />
          </sequence>
        </complexType>
      </element>
      <element name="ReopenImprestRequest">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="imprestNoa46" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="ReopenImprestRequest_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="boolean" />
          </sequence>
        </complexType>
      </element>
      <element name="CancelImprestBudgetCommitment">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="imprestNoa46" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="CancelImprestBudgetCommitment_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="boolean" />
          </sequence>
        </complexType>
      </element>
      <element name="GetEmployeeImprestBalance">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="employeeNoa46" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GetEmployeeImprestBalance_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="decimal" />
          </sequence>
        </complexType>
      </element>
      <element name="CheckImprestSurrenderExists">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="imprestSurrenderNoa46" type="string" />
            <element minOccurs="1" maxOccurs="1" name="employeeNoa46" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="CheckImprestSurrenderExists_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="boolean" />
          </sequence>
        </complexType>
      </element>
      <element name="CheckOpenImprestSurrenderExists">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="employeeNoa46" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="CheckOpenImprestSurrenderExists_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="boolean" />
          </sequence>
        </complexType>
      </element>
      <element name="CreateImprestSurrenderHeader">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="employeeNoa46" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="CreateImprestSurrenderHeader_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="ModifyImprestSurrenderHeader">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="imprestSurrenderNoa46" type="string" />
            <element minOccurs="1" maxOccurs="1" name="employeeNoa46" type="string" />
            <element minOccurs="1" maxOccurs="1" name="imprestNoa46" type="string" />
            <element minOccurs="1" maxOccurs="1" name="description" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="ModifyImprestSurrenderHeader_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="boolean" />
          </sequence>
        </complexType>
      </element>
      <element name="GetImprestSurrenderAmount">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="imprestSurrenderNoa46" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GetImprestSurrenderAmount_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="decimal" />
          </sequence>
        </complexType>
      </element>
      <element name="GetImprestRemainingAmount">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="imprestNoa46" type="string" />
            <element minOccurs="1" maxOccurs="1" name="actualSpent" type="decimal" />
          </sequence>
        </complexType>
      </element>
      <element name="GetImprestRemainingAmount_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="decimal" />
          </sequence>
        </complexType>
      </element>
      <element name="GetImprestSurrenderStatus">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="imprestSurrenderNoa46" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GetImprestSurrenderStatus_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="CreateImprestSurrenderLine">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="imprestSurrenderNoa46" type="string" />
            <element minOccurs="1" maxOccurs="1" name="imprestCode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="description" type="string" />
            <element minOccurs="1" maxOccurs="1" name="actualAmountSpent" type="decimal" />
            <element minOccurs="1" maxOccurs="1" name="globalDimension1Code" type="string" />
            <element minOccurs="1" maxOccurs="1" name="globalDimension2Code" type="string" />
            <element minOccurs="1" maxOccurs="1" name="shortcutDimension3Code" type="string" />
            <element minOccurs="1" maxOccurs="1" name="shortcutDimension4Code" type="string" />
            <element minOccurs="1" maxOccurs="1" name="shortcutDimension5Code" type="string" />
            <element minOccurs="1" maxOccurs="1" name="shortcutDimension6Code" type="string" />
            <element minOccurs="1" maxOccurs="1" name="shortcutDimension7Code" type="string" />
            <element minOccurs="1" maxOccurs="1" name="shortcutDimension8Code" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="CreateImprestSurrenderLine_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="boolean" />
          </sequence>
        </complexType>
      </element>
      <element name="ModifyImprestSurrenderLine">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="lineNoa46" type="int" />
            <element minOccurs="1" maxOccurs="1" name="imprestSurrenderNoa46" type="string" />
            <element minOccurs="1" maxOccurs="1" name="imprestCode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="description" type="string" />
            <element minOccurs="1" maxOccurs="1" name="actualAmountSpent" type="decimal" />
            <element minOccurs="1" maxOccurs="1" name="globalDimension1Code" type="string" />
            <element minOccurs="1" maxOccurs="1" name="globalDimension2Code" type="string" />
            <element minOccurs="1" maxOccurs="1" name="shortcutDimension3Code" type="string" />
            <element minOccurs="1" maxOccurs="1" name="shortcutDimension4Code" type="string" />
            <element minOccurs="1" maxOccurs="1" name="shortcutDimension5Code" type="string" />
            <element minOccurs="1" maxOccurs="1" name="shortcutDimension6Code" type="string" />
            <element minOccurs="1" maxOccurs="1" name="shortcutDimension7Code" type="string" />
            <element minOccurs="1" maxOccurs="1" name="shortcutDimension8Code" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="ModifyImprestSurrenderLine_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="boolean" />
          </sequence>
        </complexType>
      </element>
      <element name="DeleteImprestSurrenderLine">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="lineNoa46" type="int" />
            <element minOccurs="1" maxOccurs="1" name="imprestSurrenderNoa46" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="DeleteImprestSurrenderLine_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="boolean" />
          </sequence>
        </complexType>
      </element>
      <element name="CheckImprestSurrenderLinesExist">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="imprestSurrenderNoa46" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="CheckImprestSurrenderLinesExist_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="boolean" />
          </sequence>
        </complexType>
      </element>
      <element name="ValidateImprestSurrenderLines">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="imprestSurrenderNoa46" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="ValidateImprestSurrenderLines_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="CheckImprestSurrenderApprovalWorkflowEnabled">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="imprestSurrenderNoa46" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="CheckImprestSurrenderApprovalWorkflowEnabled_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="boolean" />
          </sequence>
        </complexType>
      </element>
      <element name="SendImprestSurrenderApprovalRequest">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="imprestSurrenderNoa46" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="SendImprestSurrenderApprovalRequest_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="boolean" />
          </sequence>
        </complexType>
      </element>
      <element name="CancelImprestSurrenderApprovalRequest">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="imprestSurrenderNoa46" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="CancelImprestSurrenderApprovalRequest_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="boolean" />
          </sequence>
        </complexType>
      </element>
      <element name="ReopenImprestSurrender">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="imprestSurrenderNoa46" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="ReopenImprestSurrender_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="boolean" />
          </sequence>
        </complexType>
      </element>
      <element name="CancelImprestSurrenderBudgetCommitment">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="imprestSurrenderNoa46" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="CancelImprestSurrenderBudgetCommitment_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="boolean" />
          </sequence>
        </complexType>
      </element>
      <element name="ModifyImprestSurrenderUploadedDocumentLocalURL">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="documentNoa46" type="string" />
            <element minOccurs="1" maxOccurs="1" name="documentCode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="localURL" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="ModifyImprestSurrenderUploadedDocumentLocalURL_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="boolean" />
          </sequence>
        </complexType>
      </element>
      <element name="CheckUploadedDocumentAttached">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="documentNoa46" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="CheckUploadedDocumentAttached_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="boolean" />
          </sequence>
        </complexType>
      </element>
      <element name="DeleteImprestSurrenderUploadedDocument">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="documentNoa46" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="DeleteImprestSurrenderUploadedDocument_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="boolean" />
          </sequence>
        </complexType>
      </element>
      <element name="GetImprestSurrenderGlobalDimension1Code">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="imprestSurrenderNoa46" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GetImprestSurrenderGlobalDimension1Code_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GetImprestSurrenderGlobalDimension2Code">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="imprestSurrenderNoa46" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GetImprestSurrenderGlobalDimension2Code_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="InsertImprestSurrenderLines">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="imprestSurrenderNoa46" type="string" />
            <element minOccurs="1" maxOccurs="1" name="imprestNoa46" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="InsertImprestSurrenderLines_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="boolean" />
          </sequence>
        </complexType>
      </element>
      <element name="CheckSimilarImprestSurrenderPending">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="imprestNoa46" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="CheckSimilarImprestSurrenderPending_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="boolean" />
          </sequence>
        </complexType>
      </element>
      <element name="GetOpenImprestSurrender">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="employeeNoa46" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GetOpenImprestSurrender_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
    </schema>
  </types>
  <message name="CheckPettyCashExists">
    <part name="parameters" element="tns:CheckPettyCashExists" />
  </message>
  <message name="CheckPettyCashExists_Result">
    <part name="parameters" element="tns:CheckPettyCashExists_Result" />
  </message>
  <message name="CheckOpenPettyCashExists">
    <part name="parameters" element="tns:CheckOpenPettyCashExists" />
  </message>
  <message name="CheckOpenPettyCashExists_Result">
    <part name="parameters" element="tns:CheckOpenPettyCashExists_Result" />
  </message>
  <message name="CreatePettyCashHeader">
    <part name="parameters" element="tns:CreatePettyCashHeader" />
  </message>
  <message name="CreatePettyCashHeader_Result">
    <part name="parameters" element="tns:CreatePettyCashHeader_Result" />
  </message>
  <message name="ModifyPettyCashHeader">
    <part name="parameters" element="tns:ModifyPettyCashHeader" />
  </message>
  <message name="ModifyPettyCashHeader_Result">
    <part name="parameters" element="tns:ModifyPettyCashHeader_Result" />
  </message>
  <message name="CreatePettyCashLine">
    <part name="parameters" element="tns:CreatePettyCashLine" />
  </message>
  <message name="CreatePettyCashLine_Result">
    <part name="parameters" element="tns:CreatePettyCashLine_Result" />
  </message>
  <message name="ModifyPettyCashLine">
    <part name="parameters" element="tns:ModifyPettyCashLine" />
  </message>
  <message name="ModifyPettyCashLine_Result">
    <part name="parameters" element="tns:ModifyPettyCashLine_Result" />
  </message>
  <message name="DeletPettyCashLine">
    <part name="parameters" element="tns:DeletPettyCashLine" />
  </message>
  <message name="DeletPettyCashLine_Result">
    <part name="parameters" element="tns:DeletPettyCashLine_Result" />
  </message>
  <message name="CheckPettyCashLinesExist">
    <part name="parameters" element="tns:CheckPettyCashLinesExist" />
  </message>
  <message name="CheckPettyCashLinesExist_Result">
    <part name="parameters" element="tns:CheckPettyCashLinesExist_Result" />
  </message>
  <message name="ChecPettyCashApprovalWorkflowEnabled">
    <part name="parameters" element="tns:ChecPettyCashApprovalWorkflowEnabled" />
  </message>
  <message name="ChecPettyCashApprovalWorkflowEnabled_Result">
    <part name="parameters" element="tns:ChecPettyCashApprovalWorkflowEnabled_Result" />
  </message>
  <message name="SendPettyCashApprovalRequest">
    <part name="parameters" element="tns:SendPettyCashApprovalRequest" />
  </message>
  <message name="SendPettyCashApprovalRequest_Result">
    <part name="parameters" element="tns:SendPettyCashApprovalRequest_Result" />
  </message>
  <message name="CancelPettyCashApprovalRequest">
    <part name="parameters" element="tns:CancelPettyCashApprovalRequest" />
  </message>
  <message name="CancelPettyCashApprovalRequest_Result">
    <part name="parameters" element="tns:CancelPettyCashApprovalRequest_Result" />
  </message>
  <message name="GetLocalCurrencyCode">
    <part name="parameters" element="tns:GetLocalCurrencyCode" />
  </message>
  <message name="GetLocalCurrencyCode_Result">
    <part name="parameters" element="tns:GetLocalCurrencyCode_Result" />
  </message>
  <message name="CheckImprestRequestExists">
    <part name="parameters" element="tns:CheckImprestRequestExists" />
  </message>
  <message name="CheckImprestRequestExists_Result">
    <part name="parameters" element="tns:CheckImprestRequestExists_Result" />
  </message>
  <message name="CheckOpenImprestRequestExists">
    <part name="parameters" element="tns:CheckOpenImprestRequestExists" />
  </message>
  <message name="CheckOpenImprestRequestExists_Result">
    <part name="parameters" element="tns:CheckOpenImprestRequestExists_Result" />
  </message>
  <message name="CheckImprestNotSurrendered">
    <part name="parameters" element="tns:CheckImprestNotSurrendered" />
  </message>
  <message name="CheckImprestNotSurrendered_Result">
    <part name="parameters" element="tns:CheckImprestNotSurrendered_Result" />
  </message>
  <message name="CheckImprestPartiallySurrendered">
    <part name="parameters" element="tns:CheckImprestPartiallySurrendered" />
  </message>
  <message name="CheckImprestPartiallySurrendered_Result">
    <part name="parameters" element="tns:CheckImprestPartiallySurrendered_Result" />
  </message>
  <message name="CreateImprestHeader">
    <part name="parameters" element="tns:CreateImprestHeader" />
  </message>
  <message name="CreateImprestHeader_Result">
    <part name="parameters" element="tns:CreateImprestHeader_Result" />
  </message>
  <message name="ModifyImprestHeader">
    <part name="parameters" element="tns:ModifyImprestHeader" />
  </message>
  <message name="ModifyImprestHeader_Result">
    <part name="parameters" element="tns:ModifyImprestHeader_Result" />
  </message>
  <message name="GetImprestAmount">
    <part name="parameters" element="tns:GetImprestAmount" />
  </message>
  <message name="GetImprestAmount_Result">
    <part name="parameters" element="tns:GetImprestAmount_Result" />
  </message>
  <message name="GetImprestStatus">
    <part name="parameters" element="tns:GetImprestStatus" />
  </message>
  <message name="GetImprestStatus_Result">
    <part name="parameters" element="tns:GetImprestStatus_Result" />
  </message>
  <message name="CreateImprestLine">
    <part name="parameters" element="tns:CreateImprestLine" />
  </message>
  <message name="CreateImprestLine_Result">
    <part name="parameters" element="tns:CreateImprestLine_Result" />
  </message>
  <message name="ModifyImprestLine">
    <part name="parameters" element="tns:ModifyImprestLine" />
  </message>
  <message name="ModifyImprestLine_Result">
    <part name="parameters" element="tns:ModifyImprestLine_Result" />
  </message>
  <message name="DeleteImprestLine">
    <part name="parameters" element="tns:DeleteImprestLine" />
  </message>
  <message name="DeleteImprestLine_Result">
    <part name="parameters" element="tns:DeleteImprestLine_Result" />
  </message>
  <message name="CheckImprestLinesExist">
    <part name="parameters" element="tns:CheckImprestLinesExist" />
  </message>
  <message name="CheckImprestLinesExist_Result">
    <part name="parameters" element="tns:CheckImprestLinesExist_Result" />
  </message>
  <message name="ValidateImprestLines">
    <part name="parameters" element="tns:ValidateImprestLines" />
  </message>
  <message name="ValidateImprestLines_Result">
    <part name="parameters" element="tns:ValidateImprestLines_Result" />
  </message>
  <message name="CheckImprestApprovalWorkflowEnabled">
    <part name="parameters" element="tns:CheckImprestApprovalWorkflowEnabled" />
  </message>
  <message name="CheckImprestApprovalWorkflowEnabled_Result">
    <part name="parameters" element="tns:CheckImprestApprovalWorkflowEnabled_Result" />
  </message>
  <message name="SendImprestApprovalRequest">
    <part name="parameters" element="tns:SendImprestApprovalRequest" />
  </message>
  <message name="SendImprestApprovalRequest_Result">
    <part name="parameters" element="tns:SendImprestApprovalRequest_Result" />
  </message>
  <message name="CancelImprestApprovalRequest">
    <part name="parameters" element="tns:CancelImprestApprovalRequest" />
  </message>
  <message name="CancelImprestApprovalRequest_Result">
    <part name="parameters" element="tns:CancelImprestApprovalRequest_Result" />
  </message>
  <message name="ReopenImprestRequest">
    <part name="parameters" element="tns:ReopenImprestRequest" />
  </message>
  <message name="ReopenImprestRequest_Result">
    <part name="parameters" element="tns:ReopenImprestRequest_Result" />
  </message>
  <message name="CancelImprestBudgetCommitment">
    <part name="parameters" element="tns:CancelImprestBudgetCommitment" />
  </message>
  <message name="CancelImprestBudgetCommitment_Result">
    <part name="parameters" element="tns:CancelImprestBudgetCommitment_Result" />
  </message>
  <message name="GetEmployeeImprestBalance">
    <part name="parameters" element="tns:GetEmployeeImprestBalance" />
  </message>
  <message name="GetEmployeeImprestBalance_Result">
    <part name="parameters" element="tns:GetEmployeeImprestBalance_Result" />
  </message>
  <message name="CheckImprestSurrenderExists">
    <part name="parameters" element="tns:CheckImprestSurrenderExists" />
  </message>
  <message name="CheckImprestSurrenderExists_Result">
    <part name="parameters" element="tns:CheckImprestSurrenderExists_Result" />
  </message>
  <message name="CheckOpenImprestSurrenderExists">
    <part name="parameters" element="tns:CheckOpenImprestSurrenderExists" />
  </message>
  <message name="CheckOpenImprestSurrenderExists_Result">
    <part name="parameters" element="tns:CheckOpenImprestSurrenderExists_Result" />
  </message>
  <message name="CreateImprestSurrenderHeader">
    <part name="parameters" element="tns:CreateImprestSurrenderHeader" />
  </message>
  <message name="CreateImprestSurrenderHeader_Result">
    <part name="parameters" element="tns:CreateImprestSurrenderHeader_Result" />
  </message>
  <message name="ModifyImprestSurrenderHeader">
    <part name="parameters" element="tns:ModifyImprestSurrenderHeader" />
  </message>
  <message name="ModifyImprestSurrenderHeader_Result">
    <part name="parameters" element="tns:ModifyImprestSurrenderHeader_Result" />
  </message>
  <message name="GetImprestSurrenderAmount">
    <part name="parameters" element="tns:GetImprestSurrenderAmount" />
  </message>
  <message name="GetImprestSurrenderAmount_Result">
    <part name="parameters" element="tns:GetImprestSurrenderAmount_Result" />
  </message>
  <message name="GetImprestRemainingAmount">
    <part name="parameters" element="tns:GetImprestRemainingAmount" />
  </message>
  <message name="GetImprestRemainingAmount_Result">
    <part name="parameters" element="tns:GetImprestRemainingAmount_Result" />
  </message>
  <message name="GetImprestSurrenderStatus">
    <part name="parameters" element="tns:GetImprestSurrenderStatus" />
  </message>
  <message name="GetImprestSurrenderStatus_Result">
    <part name="parameters" element="tns:GetImprestSurrenderStatus_Result" />
  </message>
  <message name="CreateImprestSurrenderLine">
    <part name="parameters" element="tns:CreateImprestSurrenderLine" />
  </message>
  <message name="CreateImprestSurrenderLine_Result">
    <part name="parameters" element="tns:CreateImprestSurrenderLine_Result" />
  </message>
  <message name="ModifyImprestSurrenderLine">
    <part name="parameters" element="tns:ModifyImprestSurrenderLine" />
  </message>
  <message name="ModifyImprestSurrenderLine_Result">
    <part name="parameters" element="tns:ModifyImprestSurrenderLine_Result" />
  </message>
  <message name="DeleteImprestSurrenderLine">
    <part name="parameters" element="tns:DeleteImprestSurrenderLine" />
  </message>
  <message name="DeleteImprestSurrenderLine_Result">
    <part name="parameters" element="tns:DeleteImprestSurrenderLine_Result" />
  </message>
  <message name="CheckImprestSurrenderLinesExist">
    <part name="parameters" element="tns:CheckImprestSurrenderLinesExist" />
  </message>
  <message name="CheckImprestSurrenderLinesExist_Result">
    <part name="parameters" element="tns:CheckImprestSurrenderLinesExist_Result" />
  </message>
  <message name="ValidateImprestSurrenderLines">
    <part name="parameters" element="tns:ValidateImprestSurrenderLines" />
  </message>
  <message name="ValidateImprestSurrenderLines_Result">
    <part name="parameters" element="tns:ValidateImprestSurrenderLines_Result" />
  </message>
  <message name="CheckImprestSurrenderApprovalWorkflowEnabled">
    <part name="parameters" element="tns:CheckImprestSurrenderApprovalWorkflowEnabled" />
  </message>
  <message name="CheckImprestSurrenderApprovalWorkflowEnabled_Result">
    <part name="parameters" element="tns:CheckImprestSurrenderApprovalWorkflowEnabled_Result" />
  </message>
  <message name="SendImprestSurrenderApprovalRequest">
    <part name="parameters" element="tns:SendImprestSurrenderApprovalRequest" />
  </message>
  <message name="SendImprestSurrenderApprovalRequest_Result">
    <part name="parameters" element="tns:SendImprestSurrenderApprovalRequest_Result" />
  </message>
  <message name="CancelImprestSurrenderApprovalRequest">
    <part name="parameters" element="tns:CancelImprestSurrenderApprovalRequest" />
  </message>
  <message name="CancelImprestSurrenderApprovalRequest_Result">
    <part name="parameters" element="tns:CancelImprestSurrenderApprovalRequest_Result" />
  </message>
  <message name="ReopenImprestSurrender">
    <part name="parameters" element="tns:ReopenImprestSurrender" />
  </message>
  <message name="ReopenImprestSurrender_Result">
    <part name="parameters" element="tns:ReopenImprestSurrender_Result" />
  </message>
  <message name="CancelImprestSurrenderBudgetCommitment">
    <part name="parameters" element="tns:CancelImprestSurrenderBudgetCommitment" />
  </message>
  <message name="CancelImprestSurrenderBudgetCommitment_Result">
    <part name="parameters" element="tns:CancelImprestSurrenderBudgetCommitment_Result" />
  </message>
  <message name="ModifyImprestSurrenderUploadedDocumentLocalURL">
    <part name="parameters" element="tns:ModifyImprestSurrenderUploadedDocumentLocalURL" />
  </message>
  <message name="ModifyImprestSurrenderUploadedDocumentLocalURL_Result">
    <part name="parameters" element="tns:ModifyImprestSurrenderUploadedDocumentLocalURL_Result" />
  </message>
  <message name="CheckUploadedDocumentAttached">
    <part name="parameters" element="tns:CheckUploadedDocumentAttached" />
  </message>
  <message name="CheckUploadedDocumentAttached_Result">
    <part name="parameters" element="tns:CheckUploadedDocumentAttached_Result" />
  </message>
  <message name="DeleteImprestSurrenderUploadedDocument">
    <part name="parameters" element="tns:DeleteImprestSurrenderUploadedDocument" />
  </message>
  <message name="DeleteImprestSurrenderUploadedDocument_Result">
    <part name="parameters" element="tns:DeleteImprestSurrenderUploadedDocument_Result" />
  </message>
  <message name="GetImprestSurrenderGlobalDimension1Code">
    <part name="parameters" element="tns:GetImprestSurrenderGlobalDimension1Code" />
  </message>
  <message name="GetImprestSurrenderGlobalDimension1Code_Result">
    <part name="parameters" element="tns:GetImprestSurrenderGlobalDimension1Code_Result" />
  </message>
  <message name="GetImprestSurrenderGlobalDimension2Code">
    <part name="parameters" element="tns:GetImprestSurrenderGlobalDimension2Code" />
  </message>
  <message name="GetImprestSurrenderGlobalDimension2Code_Result">
    <part name="parameters" element="tns:GetImprestSurrenderGlobalDimension2Code_Result" />
  </message>
  <message name="InsertImprestSurrenderLines">
    <part name="parameters" element="tns:InsertImprestSurrenderLines" />
  </message>
  <message name="InsertImprestSurrenderLines_Result">
    <part name="parameters" element="tns:InsertImprestSurrenderLines_Result" />
  </message>
  <message name="CheckSimilarImprestSurrenderPending">
    <part name="parameters" element="tns:CheckSimilarImprestSurrenderPending" />
  </message>
  <message name="CheckSimilarImprestSurrenderPending_Result">
    <part name="parameters" element="tns:CheckSimilarImprestSurrenderPending_Result" />
  </message>
  <message name="GetOpenImprestSurrender">
    <part name="parameters" element="tns:GetOpenImprestSurrender" />
  </message>
  <message name="GetOpenImprestSurrender_Result">
    <part name="parameters" element="tns:GetOpenImprestSurrender_Result" />
  </message>
  <portType name="FundsManagementWebService_Port">
    <operation name="CheckPettyCashExists">
      <input name="CheckPettyCashExists" message="tns:CheckPettyCashExists" />
      <output name="CheckPettyCashExists_Result" message="tns:CheckPettyCashExists_Result" />
    </operation>
    <operation name="CheckOpenPettyCashExists">
      <input name="CheckOpenPettyCashExists" message="tns:CheckOpenPettyCashExists" />
      <output name="CheckOpenPettyCashExists_Result" message="tns:CheckOpenPettyCashExists_Result" />
    </operation>
    <operation name="CreatePettyCashHeader">
      <input name="CreatePettyCashHeader" message="tns:CreatePettyCashHeader" />
      <output name="CreatePettyCashHeader_Result" message="tns:CreatePettyCashHeader_Result" />
    </operation>
    <operation name="ModifyPettyCashHeader">
      <input name="ModifyPettyCashHeader" message="tns:ModifyPettyCashHeader" />
      <output name="ModifyPettyCashHeader_Result" message="tns:ModifyPettyCashHeader_Result" />
    </operation>
    <operation name="CreatePettyCashLine">
      <input name="CreatePettyCashLine" message="tns:CreatePettyCashLine" />
      <output name="CreatePettyCashLine_Result" message="tns:CreatePettyCashLine_Result" />
    </operation>
    <operation name="ModifyPettyCashLine">
      <input name="ModifyPettyCashLine" message="tns:ModifyPettyCashLine" />
      <output name="ModifyPettyCashLine_Result" message="tns:ModifyPettyCashLine_Result" />
    </operation>
    <operation name="DeletPettyCashLine">
      <input name="DeletPettyCashLine" message="tns:DeletPettyCashLine" />
      <output name="DeletPettyCashLine_Result" message="tns:DeletPettyCashLine_Result" />
    </operation>
    <operation name="CheckPettyCashLinesExist">
      <input name="CheckPettyCashLinesExist" message="tns:CheckPettyCashLinesExist" />
      <output name="CheckPettyCashLinesExist_Result" message="tns:CheckPettyCashLinesExist_Result" />
    </operation>
    <operation name="ChecPettyCashApprovalWorkflowEnabled">
      <input name="ChecPettyCashApprovalWorkflowEnabled" message="tns:ChecPettyCashApprovalWorkflowEnabled" />
      <output name="ChecPettyCashApprovalWorkflowEnabled_Result" message="tns:ChecPettyCashApprovalWorkflowEnabled_Result" />
    </operation>
    <operation name="SendPettyCashApprovalRequest">
      <input name="SendPettyCashApprovalRequest" message="tns:SendPettyCashApprovalRequest" />
      <output name="SendPettyCashApprovalRequest_Result" message="tns:SendPettyCashApprovalRequest_Result" />
    </operation>
    <operation name="CancelPettyCashApprovalRequest">
      <input name="CancelPettyCashApprovalRequest" message="tns:CancelPettyCashApprovalRequest" />
      <output name="CancelPettyCashApprovalRequest_Result" message="tns:CancelPettyCashApprovalRequest_Result" />
    </operation>
    <operation name="GetLocalCurrencyCode">
      <input name="GetLocalCurrencyCode" message="tns:GetLocalCurrencyCode" />
      <output name="GetLocalCurrencyCode_Result" message="tns:GetLocalCurrencyCode_Result" />
    </operation>
    <operation name="CheckImprestRequestExists">
      <input name="CheckImprestRequestExists" message="tns:CheckImprestRequestExists" />
      <output name="CheckImprestRequestExists_Result" message="tns:CheckImprestRequestExists_Result" />
    </operation>
    <operation name="CheckOpenImprestRequestExists">
      <input name="CheckOpenImprestRequestExists" message="tns:CheckOpenImprestRequestExists" />
      <output name="CheckOpenImprestRequestExists_Result" message="tns:CheckOpenImprestRequestExists_Result" />
    </operation>
    <operation name="CheckImprestNotSurrendered">
      <input name="CheckImprestNotSurrendered" message="tns:CheckImprestNotSurrendered" />
      <output name="CheckImprestNotSurrendered_Result" message="tns:CheckImprestNotSurrendered_Result" />
    </operation>
    <operation name="CheckImprestPartiallySurrendered">
      <input name="CheckImprestPartiallySurrendered" message="tns:CheckImprestPartiallySurrendered" />
      <output name="CheckImprestPartiallySurrendered_Result" message="tns:CheckImprestPartiallySurrendered_Result" />
    </operation>
    <operation name="CreateImprestHeader">
      <input name="CreateImprestHeader" message="tns:CreateImprestHeader" />
      <output name="CreateImprestHeader_Result" message="tns:CreateImprestHeader_Result" />
    </operation>
    <operation name="ModifyImprestHeader">
      <input name="ModifyImprestHeader" message="tns:ModifyImprestHeader" />
      <output name="ModifyImprestHeader_Result" message="tns:ModifyImprestHeader_Result" />
    </operation>
    <operation name="GetImprestAmount">
      <input name="GetImprestAmount" message="tns:GetImprestAmount" />
      <output name="GetImprestAmount_Result" message="tns:GetImprestAmount_Result" />
    </operation>
    <operation name="GetImprestStatus">
      <input name="GetImprestStatus" message="tns:GetImprestStatus" />
      <output name="GetImprestStatus_Result" message="tns:GetImprestStatus_Result" />
    </operation>
    <operation name="CreateImprestLine">
      <input name="CreateImprestLine" message="tns:CreateImprestLine" />
      <output name="CreateImprestLine_Result" message="tns:CreateImprestLine_Result" />
    </operation>
    <operation name="ModifyImprestLine">
      <input name="ModifyImprestLine" message="tns:ModifyImprestLine" />
      <output name="ModifyImprestLine_Result" message="tns:ModifyImprestLine_Result" />
    </operation>
    <operation name="DeleteImprestLine">
      <input name="DeleteImprestLine" message="tns:DeleteImprestLine" />
      <output name="DeleteImprestLine_Result" message="tns:DeleteImprestLine_Result" />
    </operation>
    <operation name="CheckImprestLinesExist">
      <input name="CheckImprestLinesExist" message="tns:CheckImprestLinesExist" />
      <output name="CheckImprestLinesExist_Result" message="tns:CheckImprestLinesExist_Result" />
    </operation>
    <operation name="ValidateImprestLines">
      <input name="ValidateImprestLines" message="tns:ValidateImprestLines" />
      <output name="ValidateImprestLines_Result" message="tns:ValidateImprestLines_Result" />
    </operation>
    <operation name="CheckImprestApprovalWorkflowEnabled">
      <input name="CheckImprestApprovalWorkflowEnabled" message="tns:CheckImprestApprovalWorkflowEnabled" />
      <output name="CheckImprestApprovalWorkflowEnabled_Result" message="tns:CheckImprestApprovalWorkflowEnabled_Result" />
    </operation>
    <operation name="SendImprestApprovalRequest">
      <input name="SendImprestApprovalRequest" message="tns:SendImprestApprovalRequest" />
      <output name="SendImprestApprovalRequest_Result" message="tns:SendImprestApprovalRequest_Result" />
    </operation>
    <operation name="CancelImprestApprovalRequest">
      <input name="CancelImprestApprovalRequest" message="tns:CancelImprestApprovalRequest" />
      <output name="CancelImprestApprovalRequest_Result" message="tns:CancelImprestApprovalRequest_Result" />
    </operation>
    <operation name="ReopenImprestRequest">
      <input name="ReopenImprestRequest" message="tns:ReopenImprestRequest" />
      <output name="ReopenImprestRequest_Result" message="tns:ReopenImprestRequest_Result" />
    </operation>
    <operation name="CancelImprestBudgetCommitment">
      <input name="CancelImprestBudgetCommitment" message="tns:CancelImprestBudgetCommitment" />
      <output name="CancelImprestBudgetCommitment_Result" message="tns:CancelImprestBudgetCommitment_Result" />
    </operation>
    <operation name="GetEmployeeImprestBalance">
      <input name="GetEmployeeImprestBalance" message="tns:GetEmployeeImprestBalance" />
      <output name="GetEmployeeImprestBalance_Result" message="tns:GetEmployeeImprestBalance_Result" />
    </operation>
    <operation name="CheckImprestSurrenderExists">
      <input name="CheckImprestSurrenderExists" message="tns:CheckImprestSurrenderExists" />
      <output name="CheckImprestSurrenderExists_Result" message="tns:CheckImprestSurrenderExists_Result" />
    </operation>
    <operation name="CheckOpenImprestSurrenderExists">
      <input name="CheckOpenImprestSurrenderExists" message="tns:CheckOpenImprestSurrenderExists" />
      <output name="CheckOpenImprestSurrenderExists_Result" message="tns:CheckOpenImprestSurrenderExists_Result" />
    </operation>
    <operation name="CreateImprestSurrenderHeader">
      <input name="CreateImprestSurrenderHeader" message="tns:CreateImprestSurrenderHeader" />
      <output name="CreateImprestSurrenderHeader_Result" message="tns:CreateImprestSurrenderHeader_Result" />
    </operation>
    <operation name="ModifyImprestSurrenderHeader">
      <input name="ModifyImprestSurrenderHeader" message="tns:ModifyImprestSurrenderHeader" />
      <output name="ModifyImprestSurrenderHeader_Result" message="tns:ModifyImprestSurrenderHeader_Result" />
    </operation>
    <operation name="GetImprestSurrenderAmount">
      <input name="GetImprestSurrenderAmount" message="tns:GetImprestSurrenderAmount" />
      <output name="GetImprestSurrenderAmount_Result" message="tns:GetImprestSurrenderAmount_Result" />
    </operation>
    <operation name="GetImprestRemainingAmount">
      <input name="GetImprestRemainingAmount" message="tns:GetImprestRemainingAmount" />
      <output name="GetImprestRemainingAmount_Result" message="tns:GetImprestRemainingAmount_Result" />
    </operation>
    <operation name="GetImprestSurrenderStatus">
      <input name="GetImprestSurrenderStatus" message="tns:GetImprestSurrenderStatus" />
      <output name="GetImprestSurrenderStatus_Result" message="tns:GetImprestSurrenderStatus_Result" />
    </operation>
    <operation name="CreateImprestSurrenderLine">
      <input name="CreateImprestSurrenderLine" message="tns:CreateImprestSurrenderLine" />
      <output name="CreateImprestSurrenderLine_Result" message="tns:CreateImprestSurrenderLine_Result" />
    </operation>
    <operation name="ModifyImprestSurrenderLine">
      <input name="ModifyImprestSurrenderLine" message="tns:ModifyImprestSurrenderLine" />
      <output name="ModifyImprestSurrenderLine_Result" message="tns:ModifyImprestSurrenderLine_Result" />
    </operation>
    <operation name="DeleteImprestSurrenderLine">
      <input name="DeleteImprestSurrenderLine" message="tns:DeleteImprestSurrenderLine" />
      <output name="DeleteImprestSurrenderLine_Result" message="tns:DeleteImprestSurrenderLine_Result" />
    </operation>
    <operation name="CheckImprestSurrenderLinesExist">
      <input name="CheckImprestSurrenderLinesExist" message="tns:CheckImprestSurrenderLinesExist" />
      <output name="CheckImprestSurrenderLinesExist_Result" message="tns:CheckImprestSurrenderLinesExist_Result" />
    </operation>
    <operation name="ValidateImprestSurrenderLines">
      <input name="ValidateImprestSurrenderLines" message="tns:ValidateImprestSurrenderLines" />
      <output name="ValidateImprestSurrenderLines_Result" message="tns:ValidateImprestSurrenderLines_Result" />
    </operation>
    <operation name="CheckImprestSurrenderApprovalWorkflowEnabled">
      <input name="CheckImprestSurrenderApprovalWorkflowEnabled" message="tns:CheckImprestSurrenderApprovalWorkflowEnabled" />
      <output name="CheckImprestSurrenderApprovalWorkflowEnabled_Result" message="tns:CheckImprestSurrenderApprovalWorkflowEnabled_Result" />
    </operation>
    <operation name="SendImprestSurrenderApprovalRequest">
      <input name="SendImprestSurrenderApprovalRequest" message="tns:SendImprestSurrenderApprovalRequest" />
      <output name="SendImprestSurrenderApprovalRequest_Result" message="tns:SendImprestSurrenderApprovalRequest_Result" />
    </operation>
    <operation name="CancelImprestSurrenderApprovalRequest">
      <input name="CancelImprestSurrenderApprovalRequest" message="tns:CancelImprestSurrenderApprovalRequest" />
      <output name="CancelImprestSurrenderApprovalRequest_Result" message="tns:CancelImprestSurrenderApprovalRequest_Result" />
    </operation>
    <operation name="ReopenImprestSurrender">
      <input name="ReopenImprestSurrender" message="tns:ReopenImprestSurrender" />
      <output name="ReopenImprestSurrender_Result" message="tns:ReopenImprestSurrender_Result" />
    </operation>
    <operation name="CancelImprestSurrenderBudgetCommitment">
      <input name="CancelImprestSurrenderBudgetCommitment" message="tns:CancelImprestSurrenderBudgetCommitment" />
      <output name="CancelImprestSurrenderBudgetCommitment_Result" message="tns:CancelImprestSurrenderBudgetCommitment_Result" />
    </operation>
    <operation name="ModifyImprestSurrenderUploadedDocumentLocalURL">
      <input name="ModifyImprestSurrenderUploadedDocumentLocalURL" message="tns:ModifyImprestSurrenderUploadedDocumentLocalURL" />
      <output name="ModifyImprestSurrenderUploadedDocumentLocalURL_Result" message="tns:ModifyImprestSurrenderUploadedDocumentLocalURL_Result" />
    </operation>
    <operation name="CheckUploadedDocumentAttached">
      <input name="CheckUploadedDocumentAttached" message="tns:CheckUploadedDocumentAttached" />
      <output name="CheckUploadedDocumentAttached_Result" message="tns:CheckUploadedDocumentAttached_Result" />
    </operation>
    <operation name="DeleteImprestSurrenderUploadedDocument">
      <input name="DeleteImprestSurrenderUploadedDocument" message="tns:DeleteImprestSurrenderUploadedDocument" />
      <output name="DeleteImprestSurrenderUploadedDocument_Result" message="tns:DeleteImprestSurrenderUploadedDocument_Result" />
    </operation>
    <operation name="GetImprestSurrenderGlobalDimension1Code">
      <input name="GetImprestSurrenderGlobalDimension1Code" message="tns:GetImprestSurrenderGlobalDimension1Code" />
      <output name="GetImprestSurrenderGlobalDimension1Code_Result" message="tns:GetImprestSurrenderGlobalDimension1Code_Result" />
    </operation>
    <operation name="GetImprestSurrenderGlobalDimension2Code">
      <input name="GetImprestSurrenderGlobalDimension2Code" message="tns:GetImprestSurrenderGlobalDimension2Code" />
      <output name="GetImprestSurrenderGlobalDimension2Code_Result" message="tns:GetImprestSurrenderGlobalDimension2Code_Result" />
    </operation>
    <operation name="InsertImprestSurrenderLines">
      <input name="InsertImprestSurrenderLines" message="tns:InsertImprestSurrenderLines" />
      <output name="InsertImprestSurrenderLines_Result" message="tns:InsertImprestSurrenderLines_Result" />
    </operation>
    <operation name="CheckSimilarImprestSurrenderPending">
      <input name="CheckSimilarImprestSurrenderPending" message="tns:CheckSimilarImprestSurrenderPending" />
      <output name="CheckSimilarImprestSurrenderPending_Result" message="tns:CheckSimilarImprestSurrenderPending_Result" />
    </operation>
    <operation name="GetOpenImprestSurrender">
      <input name="GetOpenImprestSurrender" message="tns:GetOpenImprestSurrender" />
      <output name="GetOpenImprestSurrender_Result" message="tns:GetOpenImprestSurrender_Result" />
    </operation>
  </portType>
  <binding name="FundsManagementWebService_Binding" type="tns:FundsManagementWebService_Port">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <operation name="CheckPettyCashExists">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/FundsManagementWebService:CheckPettyCashExists" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="CheckPettyCashExists">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="CheckPettyCashExists_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="CheckOpenPettyCashExists">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/FundsManagementWebService:CheckOpenPettyCashExists" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="CheckOpenPettyCashExists">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="CheckOpenPettyCashExists_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="CreatePettyCashHeader">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/FundsManagementWebService:CreatePettyCashHeader" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="CreatePettyCashHeader">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="CreatePettyCashHeader_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ModifyPettyCashHeader">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/FundsManagementWebService:ModifyPettyCashHeader" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ModifyPettyCashHeader">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ModifyPettyCashHeader_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="CreatePettyCashLine">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/FundsManagementWebService:CreatePettyCashLine" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="CreatePettyCashLine">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="CreatePettyCashLine_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ModifyPettyCashLine">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/FundsManagementWebService:ModifyPettyCashLine" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ModifyPettyCashLine">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ModifyPettyCashLine_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="DeletPettyCashLine">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/FundsManagementWebService:DeletPettyCashLine" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="DeletPettyCashLine">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="DeletPettyCashLine_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="CheckPettyCashLinesExist">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/FundsManagementWebService:CheckPettyCashLinesExist" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="CheckPettyCashLinesExist">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="CheckPettyCashLinesExist_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ChecPettyCashApprovalWorkflowEnabled">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/FundsManagementWebService:ChecPettyCashApprovalWorkflowEnabled" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ChecPettyCashApprovalWorkflowEnabled">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ChecPettyCashApprovalWorkflowEnabled_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="SendPettyCashApprovalRequest">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/FundsManagementWebService:SendPettyCashApprovalRequest" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="SendPettyCashApprovalRequest">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="SendPettyCashApprovalRequest_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="CancelPettyCashApprovalRequest">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/FundsManagementWebService:CancelPettyCashApprovalRequest" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="CancelPettyCashApprovalRequest">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="CancelPettyCashApprovalRequest_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetLocalCurrencyCode">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/FundsManagementWebService:GetLocalCurrencyCode" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetLocalCurrencyCode">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetLocalCurrencyCode_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="CheckImprestRequestExists">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/FundsManagementWebService:CheckImprestRequestExists" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="CheckImprestRequestExists">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="CheckImprestRequestExists_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="CheckOpenImprestRequestExists">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/FundsManagementWebService:CheckOpenImprestRequestExists" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="CheckOpenImprestRequestExists">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="CheckOpenImprestRequestExists_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="CheckImprestNotSurrendered">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/FundsManagementWebService:CheckImprestNotSurrendered" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="CheckImprestNotSurrendered">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="CheckImprestNotSurrendered_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="CheckImprestPartiallySurrendered">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/FundsManagementWebService:CheckImprestPartiallySurrendered" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="CheckImprestPartiallySurrendered">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="CheckImprestPartiallySurrendered_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="CreateImprestHeader">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/FundsManagementWebService:CreateImprestHeader" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="CreateImprestHeader">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="CreateImprestHeader_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ModifyImprestHeader">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/FundsManagementWebService:ModifyImprestHeader" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ModifyImprestHeader">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ModifyImprestHeader_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetImprestAmount">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/FundsManagementWebService:GetImprestAmount" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetImprestAmount">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetImprestAmount_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetImprestStatus">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/FundsManagementWebService:GetImprestStatus" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetImprestStatus">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetImprestStatus_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="CreateImprestLine">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/FundsManagementWebService:CreateImprestLine" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="CreateImprestLine">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="CreateImprestLine_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ModifyImprestLine">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/FundsManagementWebService:ModifyImprestLine" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ModifyImprestLine">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ModifyImprestLine_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="DeleteImprestLine">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/FundsManagementWebService:DeleteImprestLine" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="DeleteImprestLine">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="DeleteImprestLine_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="CheckImprestLinesExist">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/FundsManagementWebService:CheckImprestLinesExist" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="CheckImprestLinesExist">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="CheckImprestLinesExist_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ValidateImprestLines">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/FundsManagementWebService:ValidateImprestLines" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ValidateImprestLines">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ValidateImprestLines_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="CheckImprestApprovalWorkflowEnabled">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/FundsManagementWebService:CheckImprestApprovalWorkflowEnabled" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="CheckImprestApprovalWorkflowEnabled">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="CheckImprestApprovalWorkflowEnabled_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="SendImprestApprovalRequest">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/FundsManagementWebService:SendImprestApprovalRequest" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="SendImprestApprovalRequest">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="SendImprestApprovalRequest_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="CancelImprestApprovalRequest">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/FundsManagementWebService:CancelImprestApprovalRequest" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="CancelImprestApprovalRequest">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="CancelImprestApprovalRequest_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ReopenImprestRequest">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/FundsManagementWebService:ReopenImprestRequest" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ReopenImprestRequest">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ReopenImprestRequest_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="CancelImprestBudgetCommitment">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/FundsManagementWebService:CancelImprestBudgetCommitment" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="CancelImprestBudgetCommitment">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="CancelImprestBudgetCommitment_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetEmployeeImprestBalance">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/FundsManagementWebService:GetEmployeeImprestBalance" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetEmployeeImprestBalance">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetEmployeeImprestBalance_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="CheckImprestSurrenderExists">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/FundsManagementWebService:CheckImprestSurrenderExists" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="CheckImprestSurrenderExists">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="CheckImprestSurrenderExists_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="CheckOpenImprestSurrenderExists">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/FundsManagementWebService:CheckOpenImprestSurrenderExists" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="CheckOpenImprestSurrenderExists">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="CheckOpenImprestSurrenderExists_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="CreateImprestSurrenderHeader">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/FundsManagementWebService:CreateImprestSurrenderHeader" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="CreateImprestSurrenderHeader">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="CreateImprestSurrenderHeader_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ModifyImprestSurrenderHeader">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/FundsManagementWebService:ModifyImprestSurrenderHeader" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ModifyImprestSurrenderHeader">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ModifyImprestSurrenderHeader_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetImprestSurrenderAmount">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/FundsManagementWebService:GetImprestSurrenderAmount" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetImprestSurrenderAmount">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetImprestSurrenderAmount_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetImprestRemainingAmount">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/FundsManagementWebService:GetImprestRemainingAmount" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetImprestRemainingAmount">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetImprestRemainingAmount_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetImprestSurrenderStatus">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/FundsManagementWebService:GetImprestSurrenderStatus" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetImprestSurrenderStatus">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetImprestSurrenderStatus_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="CreateImprestSurrenderLine">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/FundsManagementWebService:CreateImprestSurrenderLine" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="CreateImprestSurrenderLine">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="CreateImprestSurrenderLine_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ModifyImprestSurrenderLine">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/FundsManagementWebService:ModifyImprestSurrenderLine" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ModifyImprestSurrenderLine">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ModifyImprestSurrenderLine_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="DeleteImprestSurrenderLine">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/FundsManagementWebService:DeleteImprestSurrenderLine" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="DeleteImprestSurrenderLine">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="DeleteImprestSurrenderLine_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="CheckImprestSurrenderLinesExist">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/FundsManagementWebService:CheckImprestSurrenderLinesExist" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="CheckImprestSurrenderLinesExist">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="CheckImprestSurrenderLinesExist_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ValidateImprestSurrenderLines">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/FundsManagementWebService:ValidateImprestSurrenderLines" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ValidateImprestSurrenderLines">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ValidateImprestSurrenderLines_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="CheckImprestSurrenderApprovalWorkflowEnabled">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/FundsManagementWebService:CheckImprestSurrenderApprovalWorkflowEnabled" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="CheckImprestSurrenderApprovalWorkflowEnabled">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="CheckImprestSurrenderApprovalWorkflowEnabled_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="SendImprestSurrenderApprovalRequest">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/FundsManagementWebService:SendImprestSurrenderApprovalRequest" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="SendImprestSurrenderApprovalRequest">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="SendImprestSurrenderApprovalRequest_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="CancelImprestSurrenderApprovalRequest">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/FundsManagementWebService:CancelImprestSurrenderApprovalRequest" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="CancelImprestSurrenderApprovalRequest">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="CancelImprestSurrenderApprovalRequest_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ReopenImprestSurrender">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/FundsManagementWebService:ReopenImprestSurrender" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ReopenImprestSurrender">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ReopenImprestSurrender_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="CancelImprestSurrenderBudgetCommitment">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/FundsManagementWebService:CancelImprestSurrenderBudgetCommitment" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="CancelImprestSurrenderBudgetCommitment">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="CancelImprestSurrenderBudgetCommitment_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ModifyImprestSurrenderUploadedDocumentLocalURL">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/FundsManagementWebService:ModifyImprestSurrenderUploadedDocumentLocalURL" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ModifyImprestSurrenderUploadedDocumentLocalURL">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ModifyImprestSurrenderUploadedDocumentLocalURL_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="CheckUploadedDocumentAttached">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/FundsManagementWebService:CheckUploadedDocumentAttached" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="CheckUploadedDocumentAttached">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="CheckUploadedDocumentAttached_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="DeleteImprestSurrenderUploadedDocument">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/FundsManagementWebService:DeleteImprestSurrenderUploadedDocument" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="DeleteImprestSurrenderUploadedDocument">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="DeleteImprestSurrenderUploadedDocument_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetImprestSurrenderGlobalDimension1Code">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/FundsManagementWebService:GetImprestSurrenderGlobalDimension1Code" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetImprestSurrenderGlobalDimension1Code">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetImprestSurrenderGlobalDimension1Code_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetImprestSurrenderGlobalDimension2Code">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/FundsManagementWebService:GetImprestSurrenderGlobalDimension2Code" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetImprestSurrenderGlobalDimension2Code">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetImprestSurrenderGlobalDimension2Code_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="InsertImprestSurrenderLines">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/FundsManagementWebService:InsertImprestSurrenderLines" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="InsertImprestSurrenderLines">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="InsertImprestSurrenderLines_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="CheckSimilarImprestSurrenderPending">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/FundsManagementWebService:CheckSimilarImprestSurrenderPending" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="CheckSimilarImprestSurrenderPending">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="CheckSimilarImprestSurrenderPending_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetOpenImprestSurrender">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/FundsManagementWebService:GetOpenImprestSurrender" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetOpenImprestSurrender">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetOpenImprestSurrender_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
  </binding>
  <service name="FundsManagementWebService">
    <port name="FundsManagementWebService_Port" binding="tns:FundsManagementWebService_Binding">
      <address location="http://41.78.24.34:9047/CPHD/WS/CPHD/Codeunit/FundsManagementWebService" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </port>
  </service>
</definitions>